[licenses]
allow = [
  "0BSD",
  "Apache-2.0 WITH LLVM-exception",
  "Apache-2.0",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "BSL-1.0",
  "CC0-1.0",
  "CDLA-Permissive-2.0",
  "ISC",
  "MIT",
  "MPL-2.0",
  "OpenSSL",
  "Unicode-3.0",
  "Unlicense",
  "Zlib",
  "CDLA-Permissive-2.0",
  "LicenseRef-Private",
]

[[licenses.clarify]]
name = "ring"
version = "*"
expression = "MIT AND ISC AND OpenSSL"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]

[licenses.private]
ignore = true

[bans]
multiple-versions = "allow"

# TODO: fcm-service, how to update?
[[bans.deny]]
name = "openssl-sys"
wrappers = ["openssl", "native-tls"]

[[bans.deny]]
name = "openssl"
use-instead = "rustls"
wrappers = ["rs-firebase-admin-sdk", "native-tls"]

[[bans.deny]]
name = "rustls-webpki"
wrappers = ["rustls"]

[advisories]
ignore = [
  "RUSTSEC-2024-0436",
  "RUSTSEC-2024-0384",                                                                                   # instant crate unmaintained (via azure_core)
  { id = "RUSTSEC-2025-0125", reason = "CVSS:4.0 not yet supported by cargo-deny, tracked separately" },
]
